.p-dialog {
  width: 95vw
}
.p-dialog img {
  display: block;
  max-width: 100%;
  /*max-height: 200px;*/
  max-height: fit-content;
  width: auto;
  height: auto;
  margin: 2px auto 10px;

}

@media screen and (min-width: 768px) {
  .p-dialog {
    width: 50vw
  }
}